:root {
    /* primary */
    --color-primary: #5d4038;
    --color-primary-hover: #855f49;

    /* background */
    --color-bg: #ecf0f1;
    --color-surface: #ffffff;

    /* text */
    --color-text: #5d4038;

    /* border */
    --color-border: #855f49;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  font-family: "Segoe UI";
}